<div class="card mb-4">
    <div class="card-header">Professeurs</div>
    <div class="card-body">
        <button id="btnOpenForm" class="btn btn-primary mb-3">
            Créer un Nouveau Professeur
        </button>
        <div class="table-responsive">
            <table class="table table-light table-bordered">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Grade</th>
                        <th>Matières</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tbodyProfs"></tbody>
            </table>
        </div>
    </div>
</div>

<form id="createForm" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un Nouveau Professeur</h5>
            </div>
            
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Nom</label>
                    <input class="form-control" id="nom" name="nom" />
                    <span class="" id="nomError"></span> 
                </div>
                <div class="mb-3">
                    <label class="form-label">Prénom</label>
                    <input class="form-control " id="prenom" name="prenom" />
                    <span class="" id="prenomError"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Grade</label>
                    <select class="form-control " id="grade" name="grade">
                        <option value="">Selectionner une option</option>
                        <option value="Master">Master</option>
                        <option value="Ingénieur">Ingénieur</option>
                        <option value="Doctorat">Doctorat</option>
                    </select>
                    <span class="" id="gradeError"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Modules</label>
                    <div class="mb-1">
                        <span class="text-danger" id="checkboxError"></span>
                    </div>
                    
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="php" value="PHP">
                            <label class="form-check-label">PHP</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="java" value="Java">
                            <label class="form-check-label">Java</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="js" value="JavaScript">
                            <label class="form-check-label">JavaScript</label>
                        </div>
                    </div>                                
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeForm">
                    Fermer
                </button>
                <button type="submit" class="btn btn-primary" id="save">
                    Sauvegarder
                </button>
            </div>
        </div>
    </div>
</form>
